.CurrentBook {
    margin-top: 100px!important;
    cursor: default;
    width: 95vw;
    margin-left: 50%;
    transform: translate(-50%, 0);
    padding-bottom: 15px;
}

.BookPage {
    overflow: hidden;
}

.RandomBooks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    cursor: default;
    width: 95vw;
    margin-left: 50%;
    transform: translate(-50%, 0);
    margin-bottom: 40px;
}

.RandomBooksTitle {
    margin-top: 20px;
    cursor: default;
    width: 95vw;
    margin-left: 50%;
    transform: translate(-50%, 0);
    margin-bottom: 20px;
    font-size: 1.5vw;
    color: orange;
}

.RandomBook {
    border: 1px solid orange;
    border-radius: 5px;
    overflow: hidden;
    width: 300px;
    cursor: pointer;
    color: orange;
}

.RandomBook:hover {
    background: orange;
    color: white;
}

.RandomBook.Information {
    display: flex;
}

.RandomPrice,.RandomTitle {
    font-size: 1.2vw;
    white-space: nowrap;
}

.CurrentBook .ImageBook {
    width: 35vw;
    display: flex;
    flex-direction: column;
}

.Book.CurrentBook:hover {
    background: transparent;
}

.CurrentBook .Price {
    position: static;
    transform: translate(0, 0);
    margin-left: 88%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.CurrentBook .Options{
    border: 1px solid orange;
    height: 3vw;
    border-radius: 10px;
    margin-top: 30px;
    overflow: hidden;
    display: flex;
    margin-bottom: 10px;
}

.Options div {
    font-size: 2vw;
    height: 100%;
    padding-top: calc(-1vw - -18px);
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}

.Options div:hover {
    background: rgba(0, 0, 0, 0.15);
}

.Options .InBasket {
    color: orange;
    cursor: default;
}

.Options .InBasket:hover {
    background: transparent;
}

.Options.NotLogin div {
    cursor: default;
}

.Options.NotLogin div:hover {
    background: transparent;
}

.YourComment {
    display: flex;
    width: 95vw;
    border: 1px solid orange;
    margin-left: 50%;
    transform: translate(-50%, 0);
    margin-top: 25px;
    border-radius: 10px;
    flex-direction: column;
}

.YouRate {
    color: white;
    font-size: 1.4vw;
}

.Star {
    width: 15px;
    height: 15px;
    border: 1px solid orange;
    margin-left: 5px;
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
}

.TopComment {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.Stars {
    display: flex;
    margin-right: 12px;
}

.WriteCom {
    color: white;
    margin-left: 12px;
    font-size: 1.5vw;
}

.YourCommentContent {
    margin-top: 5px;
}

.YourCommentContent textarea {
    background: transparent;
    outline: none;
    resize: none;
    border-radius: 10px;
    border: 1px solid orange;
    color: white;
    font-size: 1.5vw;
    font-family: 'SAOUI';
    width: 92vw;
    margin-left: 50%;
    transform: translate(-50%, 0);
    padding: 0 10px;
    height: 5em;
}

.CommentSubmit {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
}
.CommentSubmitRight {
    margin-right: 12px;
    color: white;
    background: #585c64;
    cursor: pointer;
    user-select: none;
    border-radius: 10px;
    font-size: 1.5vw;
    padding: 7px 50px;
}

.CommentSubmitRight:hover {
    background: #686c74;
}

.TopComments {
    width: 95vw;
    margin-left: 50%;
    transform: translate(-50%, 0);
    margin-top: 15px;
    font-size: 1.5vw;
    color: white;
}

.Star.Active {
    background: orange;
}

#myId {
    width: 100%;
    height: 40vw;
    border: 1px solid orange;
    border-radius: 10px;
    margin-bottom: 5px;
}

.NewPriceBook {
    position: absolute;
    margin-top: 0vw;
    margin-left: 2.3vw;
    color: seashell;
}